.component-question-small {
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 15px;
  width: 290px;

  .coqus-tag {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .coqus-sticker {
    .coqus-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 50px;
    }
  }

  .coqus-question {
    color: white;
    flex-grow: 1;
    font-size: 16px;
    line-height: 18px;
    padding-right: 10px;
    text-align: left;
  }
}

