@mixin linear-gradient($color-stops...) {
  $direction: 20deg;

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body {
  @include linear-gradient(#F9D423, #FF4E50);
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  height: 100vh;
}
