.row-image {
  td {
    align-items: center;
    display: flex;

    img {
      margin-right: 10px;
    }
  }
}

.status_tag {
  &.pending {
    background-color: LightSlateGrey;
  }

  &.active {
    background-color: YellowGreen;
  }

  &.deleted {
    background-color: OrangeRed;
  }
}
