.row-image {
  td {
    align-items: center;
    display: flex;

    img {
      margin-right: 10px;
    }
  }
}

.status_tag {
  &.pending {
    background-color: LightSlateGrey;
  }

  &.active {
    background-color: YellowGreen;
  }

  &.deleted {
    background-color: OrangeRed;
  }
}

.player {
  display: none;
}

.plyr--audio .plyr__controls {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
  border-radius: 5px !important;
  padding: 3px 20px 3px 5px !important;
  margin: 5px 0 10px;
  width: 200px;
}

.username {
  font-size: 16px;
  font-weight: 600;
  display: flex;

  .component-emoji {
    margin-right: 5px;
  }
}
